In [130]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import Clean_CSV

In [131]:
import os
from torch import nn
from torch.utils.data import DataLoader
from torchvision import datasets, transforms

In [132]:
%reload_ext autoreload
%aimport Clean_CSV

cases_list = ['b03','b06','b09','bi001','bi01','bi1','da001','da01','da1']

cases_listmulti = ['b06pm','b09pm','bi001pm','bi01pm','da01pm']

In [133]:
## Volume-Gamma data for 3-drop cases

csv_file = ['RawData/' + elem + '_GVol.csv' for elem in cases_list]
csv_names = [elem + '_csv' for elem in cases_list]

for csv, name in zip(csv_file,csv_names):
    exec(f"{name} = pd.read_csv('{csv}')")
    print('dataframe loaded:' + f"'{name}'")

dataframe loaded:'b03_csv'
dataframe loaded:'b06_csv'
dataframe loaded:'b09_csv'
dataframe loaded:'bi001_csv'
dataframe loaded:'bi01_csv'
dataframe loaded:'bi1_csv'
dataframe loaded:'da001_csv'
dataframe loaded:'da01_csv'
dataframe loaded:'da1_csv'

In [134]:
## Volume-Gamma data for multi-drop cases

csv_filemulti = ['RawData/' + elem + '_GVol.csv' for elem in cases_listmulti]
csv_names_multi = [elem + '_csv' for elem in cases_listmulti]

for csv, name in zip(csv_filemulti,csv_names_multi):
    exec(f"{name} = pd.read_csv('{csv}')")
    print('dataframe loaded:' + f"'{name}'")

dataframe loaded:'b06pm_csv'
dataframe loaded:'b09pm_csv'
dataframe loaded:'bi001pm_csv'
dataframe loaded:'bi01pm_csv'
dataframe loaded:'da01pm_csv'

In [135]:
## Dataframe cleanup

df_namescl = ['df_' + elem for elem in cases_list]

df_namescl_multi = ['df_' + elem for elem in cases_listmulti]

for dfname,csvname in zip(df_namescl,csv_names):
    exec(f"{dfname} = Clean_CSV.clean_csv({csvname},list({csvname}.columns.values)[1:3])")
    print('dataframe cleaned:' + f"'{dfname}'")
    
for dfname,csvname in zip(df_namescl_multi,csv_names_multi):
    exec(f"{dfname} = Clean_CSV.clean_csv({csvname},list({csvname}.columns.values)[1:3])")
    print('dataframe cleaned:' + f"'{dfname}'")

dataframe cleaned:'df_b03'
dataframe cleaned:'df_b06'
dataframe cleaned:'df_b09'
dataframe cleaned:'df_bi001'
dataframe cleaned:'df_bi01'
dataframe cleaned:'df_bi1'
dataframe cleaned:'df_da001'
dataframe cleaned:'df_da01'
dataframe cleaned:'df_da1'
dataframe cleaned:'df_b06pm'
dataframe cleaned:'df_b09pm'
dataframe cleaned:'df_bi001pm'
dataframe cleaned:'df_bi01pm'
dataframe cleaned:'df_da01pm'

In [152]:
## Number of drops data for 3-drop

Nd_names = ['Nd_' + elem for elem in csv_names]
Nd_csv_file = ['RawData/Nd/' + elem + '_dnum_corr.csv' for elem in cases_list]


for Nd,csv in zip(Nd_names,Nd_csv_file):
    df = pd.read_csv(csv)
    label_list = list(df.columns.values)
    df.rename(columns={label_list[0]: 'Ndrops'}, inplace=True)
    exec(f"{Nd} = df")
    print('file loaded:' + f"'{Nd}'")

file loaded:'Nd_b03_csv'
file loaded:'Nd_b06_csv'
file loaded:'Nd_b09_csv'
file loaded:'Nd_bi001_csv'
file loaded:'Nd_bi01_csv'
file loaded:'Nd_bi1_csv'
file loaded:'Nd_da001_csv'
file loaded:'Nd_da01_csv'
file loaded:'Nd_da1_csv'

In [150]:
## Number of drops data for multi-drop

Nd_names_multi = ['Nd_' + elem for elem in csv_names_multi]
Nd_csv_file_multi = ['RawData/Nd/' + elem + '_dnum_corr.csv' for elem in cases_listmulti]


for Nd,csv in zip(Nd_names_multi,Nd_csv_file_multi):
    df = pd.read_csv(csv)
    label_list = list(df.columns.values)
    df.rename(columns={label_list[0]: 'Ndrops'}, inplace=True)
    exec(f"{Nd} = df")
    print('file loaded:' + f"'{Nd}'")

file loaded:'Nd_b06pm_csv'
file loaded:'Nd_b09pm_csv'
file loaded:'Nd_bi001pm_csv'
file loaded:'Nd_bi01pm_csv'
file loaded:'Nd_da01pm_csv'

In [151]:
Nd_b03_csv

     Ndrops
0       160
1       160
2       160
3       160
4       160
..      ...
230    4833
231    4870
232    4896
233    4915
234    4946

[235 rows x 1 columns]